
<div class="content">
<h2>Our Team Members</h2>
<div class="developers">
    <div>
        <img src="./images/person1.jpg" alt="">
        <h3>Ahmed Galal</h3>
        <h4>Flutter Developers</h4>
    </div>
    <div>
        <img src="./images/person2.jpg" alt="">
        <h3>Taher Mohamed</h3>
        <h4>Web Developers</h4>
    </div>
    <div>
        <img src="./images/person3.jpg" alt="">
        <h3>Hassan Atalla</h3>
        <h4>Python Developers</h4>
    </div>
</div>
</div>