
<h2>Manage Branch</h2>
<div class="addRow">
    <form action="" method="post">
        <div class="row">
            <span>Address</span>
            <input type="text" name="address" />
        </div>
        <div class="row">
            <span>State</span>
            <select name="state" id="">
                <option value="Gujarat">Gujarat</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="West Bengal">West Bengal</option>
                <option value="Rajasthan">Rajasthan</option>
            </select>
        </div>
        <div class="row">
            <span>City</span>
            <input type="text" name="city" />
        </div>
        <div class="row">
            <span>Contact</span>
            <input type="text" name="contact" />
        </div>
        <input type="submit" value="Save Branch" class="">
    </form>
</div>
