
<h2>Manage Staff</h2>
<div class="addRow">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <span>Photo</span>
            <input type="file" name="photo">
        </div>
        <div class="row">
            <span>Name</span>
            <input type="text" name="name" />
        </div>
        <div class="row">
            <span>Middle Name</span>
            <input type="text" name="middleName" />
        </div>
        <div class="row">
            <span>Phone</span>
            <input type="text" name="phone" />
        </div>
        <div class="row">
            <span>Sex</span>
            <select name="sex" id="">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="row">
            <span>Email</span>
            <input type="email" name="email" />
        </div>
        <div class="row">
            <span>Password</span>
            <input type="password" name="password" />
        </div>
        <div class="row">
            <span>Qualication</span>
            <input type="text" name="qualifaction" />
        </div>
        <div class="row">
            <span>Total Salary</span>
            <input type="number" name="totalSalary" />
        </div>
        <div class="row">
            <span>Paid Salary</span>
            <input type="number" name="paidSalary" />
        </div>
        <div class="row">
            <span>Exp</span>
            <input type="text" name="exp" />
        </div>
        <div class="row">
            <span>Address</span>
            <input type="text" name="address" />
        </div>
        <div class="row">
            <span>State</span>
            <input type="text" name="state" />
        </div>
        <div class="row">
            <span>City</span>
            <input type="text" name="city" />
        </div>
        <div class="row">
            <span>Type</span>
            <input type="text" name="type" />
        </div>
        <div class="row">
            <span>Branches</span>
            <select name="branchId" id="">
                {{#each branches}}
                          <option value="{{this._id}}">{{this.state}}</option>
                {{/each}}
            </select>
        </div>
        <input type="submit" value="Save Student" class="">
    </form>
</div>
