<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Education</title>
    <link rel="stylesheet" href=".\bower_components\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" href=".\stylesheets\style.css">
</head>

<body>

    <div class="mainContainer">
        <header>
            <div class="logo">
                <img src="./images/TMS_logo.png" alt="">
            </div>
            <div class="actions">
                <ul id="up" class="mainUl">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li id="mainElement">Login <i class="fa-solid fa-down-long"></i>
                        <ul id="optionUl" class="h-s">
                            <li><a href="/adminLogin">Admin Login</a></li>
                            <li><a href="/staffLogin">Staff Login</a></li>
                            <li><a href="/studientLogin">Studient Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="regastration">
                <a href="/signUp">Regastration</a>
            </div>
        </header>
        <div class="content">
            {{{body}}}
            <script src=".\javascripts\all.js"></script>
            <script src=".\bower_components\bootstrap\dist\js\bootstrap.js"></script>
            <script src=".\javascripts\main.js"></script>
        </div>
        <footer>
            <div class="textSocial">
                <div>
                    <h3>TMS</h3>
                    <h6>Join TMS to manage the details profesionally</h6>
                    <a class="signUp" href="/signUp">Sign Up</a>
                </div>
                <div>
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                        <li>Help</li>
                    </ul>
                </div>
                <div>
                    <h3>HAVE A QUESTION?</h3>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i> Suart / Juajarat</li>
                        <li><i class="fa-solid fa-phone"></i> +090 125 452 00</li>
                        <li><i class="fa-regular fa-envelope"></i> tms@gmail.com</li>
                    </ul>
                </div>
                <div>
                    <a href="#up"> Back To Up <i class="fa-solid fa-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div class="photoSocial">
                © 2019 | All Rights Reserved.
                Powered by TMS.com
            </div>
        </footer>
    </div>
</body>

</html>