
            <div class="info">
                <div class="component">
                    <img src="./images/images.jpg" alt="">
                    <h2>Aloha</h2>
                    <h4>Avalibale Course : </h4>
                    <ul>
                        <li>For Age Group 7-14
                            <p>Mental Arthimatic Senior</p>
                        </li>
                        <li>For Age Group 4-7
                            <p>Mental Arthimatic Senior</p>
                        </li>
                        <li>For Age Group 20-30
                            <p>Mental Arthimatic Senior</p>
                        </li>
                        <li>For Age Group 25-35
                            <p>Mental Arthimatic Senior</p>
                        </li>
                        <li>For Age Group 35-40
                            <p>Mental Arthimatic Senior</p>
                        </li>
                    </ul>
                    <a href="" class="viewBtn">View Details <i class="fa-solid fa-angle-right"></i> <i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="component">
                    <img src="./images/index.jpg" alt="">
                    <h2>Radix Coaching Class</h2>
                    <h3>Courses Available For Commerce CBSE only</h3>
                    <h4>All Main Subjects for XI and XII Commerce: </h4>
                    <ul>
                        <li>Accountancy</li>
                        <li>Business Studies</li>
                        <li>Economics</li>
                        <li>Mathematics</li>
                        <li>Entrepreneur</li>
                        <li>English</li>
                    </ul>
                    <a href="" class="viewBtn">View Details <i class="fa-solid fa-angle-right"></i> <i class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="component">
                    <img src="./images/mahavirtutor.png" alt="">
                    <h2>Mahavir Tutors</h2>
                    <h4>Available Courses : </h4>
                    <ul>
                        <li>Certification Course</li>
                        <li>Academics</li>
                        <li>Engineering</li>
                    </ul>
                    <a href="" class="viewBtn">View Details <i class="fa-solid fa-angle-right"></i> <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="admin">
                <div class="information">
                    <h2>Admin Panel</h2>
                    <p>After Registration and Login webite will create a profile for the respective tuition Classes . Admin can also add their Branch . In this site Admin or Owner of the Classes or Tuition can manage their staff and student information. Admin can Generate teacher id and Student id so that they can login to their own profile page to watch their information . Admin can send notification to the staff and student . Can Generate Reports.</p>
                </div>
                <div class="photo">
                    <img src="./images/admin.jpg" alt="">
                </div>
            </div>
            <div class="divider">
                <hr>
            </div>
            <div class="teatcher">
                <div class="photo">
                    <img src="./images/teacher.jpg" alt="">
                </div>
                <div class="information">
                    <h2>Teacher Panel</h2>
                    <p>After getting Login Id from respective tution classes they can login to their profile which is created by the owner. Teacher can view the salary statement. Teacher can send notification to the student and view notification send by the owner.</p>
                </div>
            </div>
            <div class="divider">
                <hr>
            </div>
            <div class="student">
                <div class="information">
                    <h2>Student Panel</h2>
                    <p>After getting Login Id from respective tution classes they can login to their profile which is created by the owner. Student can view the fees statement. Student will received the notication from the respective classes or teacher</p>
                </div>
                <div class="photo">
                    <img src="./images/student_clg.jpg" alt="">
                </div>
            </div>
       