
<h2>Reports</h2>
<div class="reports">
    <div class="salary">
        <i class="handel-icon fa-solid fa-sack-dollar"></i>
        <h4>Salary</h4>
        <a href="/salary">View Salary</a>
    </div>
    <div class="fees">
        <i class="handel-icon fa-solid fa-rss"></i>
        <h4>Fees</h4>
        <a href="/fees">View Fees</a>
    </div>
    <div class="marks">
        <i class="handel-icon fa-solid fa-marker"></i>
        <h4>Marks</h4>
        <a href="/marks">View Marks</a>
    </div>
    <div class="searchSalary">
        <i class="handel-icon fa-solid fa-magnifying-glass"></i>
        <h4>Search Salary By Date</h4>
        <a href="/searchSalary">Search Salary</a>
    </div>
</div>