
<div class="content">
    <h2>Staff Login</h2>
    <div class="loginForm">
        <img src="./images/staff.png" alt="">
        <form action="">
            <input type="email" name="email" placeholder="Email Address ...">
            <input type="password" name="password" placeholder="Password ...">
            <input type="submit" value="Login">
        </form>
    </div>
</div>
